.check{
  display: inline-block;
  margin-left:140px
}
.task{
  display:inline-block;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  text-align: center;
}
.todo-list{
  margin:auto;
  width:500px;
  background-color: lightblue;
  text-align: justify;
}

